@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    color:white;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    @apply text-[38px] sm:text-3.5xl md:text-4xl xl:text-5xl 2xl:text-7xl mb-8 md:mb-4 font-bold 
  }

  h2 {
    font-family: 'Playfair Display', serif;
    @apply text-2xl md:text-4xl xl:text-5xl 2xl:text-6xl font-bold 
  }

  h3 {
    @apply sm:text-md md:text-xl xl:text-2xl 2xl:text-4xl italic mb-8 2xl:mb-12
  }

  h4 {
    @apply text-xl xl:text-2xl 2xl:text-3xl  mb-8 2xl:mb-12
  }

  h5 {
    @apply text-sm md:text-lg xl:text-xl 2xl:text-2xl italic mb-8 2xl:mb-12
  }

  p {
    @apply text-sm md:text-lg 2xl:text-2xl mb-4 md:mb-8 2xl:mb-12
  }

  span {
    @apply text-xs sm:text-sm md:text-lg 2xl:text-xl
  }

  strong{
    @apply font-bold 
  }

}

.icon {
  @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl
}

.iconHeader {
  @apply text-xl md:text-2xl xl:text-3xl 2xl:text-4xl
}

.wideScreen {
  @apply 2xl:w-5/6 2xl:mx-auto
}

/* Swipper */
.swiper-custom-pagination {
  @apply text-center 
}

.swiper-slide {
  height:auto;
  align-self:center;
  display:flex;
  justify-content: center;
}

/* React image gallery */
.image-gallery-thumbnails {
  @apply mt-4 w-5/6 xl:w-3/5 mx-auto
}

.image-gallery-thumbnail {
  vertical-align: middle;
}

/* Images styles */
/* .image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(20vh);
}

@media (min-width: 768px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(40vh);
  }
} */

@media (min-width: 1024px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(34vh);
  }
}

@media (min-width: 1280px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(40vh);
  }
}

@media (min-width: 1536px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(47vh);
  }
}

@media (min-width: 1792px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(55vh);
  }
}

@media (min-width: 2048px) {
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(70vh);
  }
}

/* Thumbnail styles */
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  width: auto;
  max-height: 5vh;
  margin: 0 auto
}

@media (min-width: 768px) {
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    max-height: 7vh;
  }
}

@media (min-width: 1024px) {
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    max-height: 9vh;
  }
}

@media (min-width: 1536px) {
  .image-gallery-thumbnail .image-gallery-thumbnail-image {
    max-height: 12vh;
  }
}

.image-gallery-content.fullscreen {
  background: #000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.image-gallery-content.fullscreen {
  padding:20px;
}

@media (min-width: 768px) {
  .image-gallery-content.fullscreen {
    padding:40px;
  }
}

@media (min-width: 1024px) {
  .image-gallery-content.fullscreen {
    padding:100px;
  }
}