@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    color:white;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-7xl font-bold 
  }

  h2 {
    font-family: 'Playfair Display', serif;
    @apply text-2xl md:text-4xl xl:text-5xl 2xl:text-6xl font-bold 
  }

  h3 {
    @apply text-md md:text-xl xl:text-2xl 2xl:text-4xl italic mb-8 2xl:mb-12
  }

  h4 {
    @apply text-md md:text-xl xl:text-2xl 2xl:text-3xl italic mb-8 2xl:mb-12
  }

  h5 {
    @apply text-sm md:text-lg xl:text-xl 2xl:text-2xl italic mb-8 2xl:mb-12
  }

  p {
    @apply text-sm md:text-lg 2xl:text-2xl mb-4 md:mb-8 2xl:mb-12
  }

  span {
    @apply text-sm md:text-lg 2xl:text-xl
  }

  strong{
    @apply font-bold  md:text-xl 2xl:text-2xl
  }

}

.icon {
  @apply text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl
}

.iconHeader {
  @apply text-xl md:text-2xl xl:text-3xl 2xl:text-4xl
}

.swiper-button-prev {
  @apply left-0
}

.swiper-button-next {
  @apply right-0
}

.swiper-custom-pagination {
  @apply text-center 

}

.wideScreen {
  @apply 2xl:w-5/6 2xl:mx-auto
}